<template>
  <div id="app">
    <b-navbar toggleable="sm" type="light" variant="light">
      <b-container>
        <b-navbar-brand>
          <router-link class="nav-link" to="/">My Vue App</router-link>
        </b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item active>
              <router-link class="nav-link" to="/">Home</router-link>
            </b-nav-item>
            <b-nav-item active>
              <router-link class="nav-link" to="/about">About</router-link>
            </b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-container>
    </b-navbar>

    <!--
    <div id="nav">
      <router-link to="/">Home</router-link>|
      <router-link to="/about">About</router-link>
    </div>
    -->

    <b-container style="margin-top:10px">
      <router-view />
    </b-container>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.nav-link {
  color: black;
  font-size: 18px;
  margin: 0px 5px 0px 5px !important;
  padding: 0px !important;
}
</style>
